.fishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fish {
  flex-basis: 16%;
}
.fish__image {
  height: 240px;
  width: 360px;
}

.fish__name {
  text-align: center;
}
