body {
  background-color: grey;
}

.header {
  text-align: center;
}

.fish__image {
  max-height: 10rem;
}

.container {
  display: flex;
}

.bordered {
  placeholder: temp;
}

.location__image {
  max-height: 10rem;
}

.flex-container-left {
  flex: 3;
}

.tips {
  flex: 1;
}

img {
  width: 600px;
  height: 600px;
}
